<h1>My Restaurant</h1>

<p>
  <a href="/" class="<%= page == '/' ? 'active' : '' %>">Home</a> |
  <a href="/categories" class="<%= page == '/categories' ? 'active' : '' %>">
    Categories
  </a>
  | <a href="/menus" class="<%= page == '/menus' ? 'active' : '' %>">Menus</a> |
  <a href="/menus/add" class="<%= page == '/menus/add' ? 'active' : '' %>">
    Add New Menu
  </a>
</p>

<hr />
