<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <h1>Categories</h1>

    <table border="1">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% categories.forEach((el, i) => { %>
        <tr>
          <td><%= ++i %></td>
          <td><%= el.name %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
